@import 'variables';

@mixin box-borders {
  background-color: $white;
  box-shadow: 0 7px 15px rgba(255, 218, 185, 0.066),
    0 7px 15px rgba(7, 59, 76, 0.066);
  border-radius: 0.5rem;
  padding: {
    top: 1rem;
    bottom: 1rem;
    left: 1rem;
    right: 1rem;
  }
}
