@import 'variables';

@mixin box-borders {
  background-color: $white;
  box-shadow: 0 10px 20px rgba(255, 218, 185,0.01), 0 10px 20px rgba(7, 59, 76,0.01);
  border-radius: 0.5rem;
  padding: {
    top: 1rem;
    bottom: 1rem;
    left: 1.6rem;
    right: 1.6rem;
  };
}
