<div class="row typeahead-component">
  <div class="col-12 typeahead-component__coin-selection--loaded">
    <div class="row">
      <div class="typeahead-component__coin-input col-12">
        <label>
          <i class="fa fa-search" aria-hidden="true" data-tooltip="Search"></i>
          <input
            type="text"
            placeholder="Search..."
            (keyup)="inputChange($event)"
            class=""
          />
        </label>
      </div>
    </div>

    <div
      *ngIf="this.matchingCoins.length"
      class="typeahead-component__results-wrapper"
    >
      <div class="typeahead-component__results-container">
        <div *ngFor="let coin of this.matchingCoins">
          <div
            class="row typeahead-component__individual-coin-row"
            (click)="selectedCoinId.emit(coin.id)"
          >
            <div class="col-4">
              <i
                class="fa fa-diamond"
                aria-hidden="true"
                data-tooltip="Name"
              ></i>
              {{ coin.name }} ({{ coin.symbol }})
            </div>
            <div class="col-4">
              <i
                class="fa fa-line-chart"
                aria-hidden="true"
                data-tooltip="Price"
              ></i>
              {{ coin.price }}
            </div>
            <div class="col-4">
              <i
                class="fa fa-arrows-v"
                aria-hidden="true"
                data-tooltip="Rank"
              ></i>
              {{ coin.rank }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
