<div class="typeahead-component">
  <div
    *ngIf="coinsAhead; else coinsAheadLoading"
    class="typeahead-component__coin-selection--loaded"
  >
    <input
      type="text"
      placeholder="test"
      (keyup)="inputChange($event)"
      class="typeahead-component__coin-input"
    />

    <div *ngFor="let coin of this.matchingCoins">
      <div class="typeahead-component__individual-coin" (click)="selectedCoinId.emit(coin.id)">
        <span>{{ coin.id }}</span>
        <span>{{ coin.name }}</span>
        <span>{{ coin.symbol }}</span>
        <span>{{ coin.price }}</span>
        <span>{{ coin.rank }}</span>
      </div>
    </div>
  </div>

  <ng-template
    #coinsAheadLoading
    class="typeahead-component__coin-selection--loading"
    >Loading</ng-template
  >
</div>
