@import '../../../node_modules/bootstrap';
@import 'styles/variables';
@import 'styles/mixins';
@import 'node_modules/font-awesome/scss/font-awesome';

body,
html {
  background-color: $pageBackground;
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
  color: $midnight;
}

i .fa-rocket {
  :hover:after {
    display: none !important;
  }
}

i {
  position: relative;
  &:not(.fa-rocket, .fa-btc, .fa-eur, .fa-gbp, .fa-gg, .fa-ils, .fa-inr, .fa-jpy, .fa-krw, .fa-rub, .fa-usd, .fa-viacoin, .fa-try):hover:after {
    color: $midnight;
    @include box-borders();
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    width: 100px;
    text-align: center;
    display: block;
    content: attr(data-tooltip);
    position: absolute;
    top: 2rem;
    left: 0;
    z-index: 999;
    border-bottom: 1px solid $purple !important;
  }
}

.borders {
  @include box-borders();
}

.text-shadow {
  text-shadow: 0 7px 15px rgba(255, 218, 185, 0.1),
  0 7px 15px rgba(7, 59, 76, 0.1);
}

.midnight {
  color: $midnight;
}

.sunset {
  color: $sunset;
}

.purple {
  color: $purple;
}

h1 {
  font-size: 3rem;
  font-weight: 600;
}

h2 {
  font-size: 2.3rem;
  font-weight: 900;
}

h3 {
  font-size: 1.9rem;
  font-weight: 400;
}

p {
  font-size: 1.6rem;
  font-weight: 400;
}
