@import '../../../node_modules/bootstrap';
@import 'styles/variables';
@import 'styles/mixins';
@import 'node_modules/font-awesome/scss/font-awesome';

body,
html {
  background-color: $pageBackground;
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
  color: $midnight;
}

i {
  position: relative;
  &:hover:after {
    @include box-borders();
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    width: 100px;
    text-align: center;
    display: block;
    content: attr(data-tooltip);
    position: absolute;
    top: 1.6rem;
    left: 0;
    z-index: 10;
  }
}

.midnight {
  color: $midnight;
}

.sunset {
  color: $sunset;
}

.purple {
  color: $purple;
}

h1 {
  font-size: 3rem;
  font-weight: 600;
}

h2 {
  font-size: 2.3rem;
  font-weight: 900;
}

h3 {
  font-size: 1.9rem;
  font-weight: 400;
}

p {
  font-size: 1.6rem;
  font-weight: 400;
}
